<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint address="http://localhost:7654/testservice" 
                binding="basicHttpBinding"
                contract="WcfServiceLibrary.ITestService"
                name="ITestService" />
      <endpoint address="http://localhost:6506/Service1.svc" 
                binding="basicHttpBinding"
                contract="WcfServiceLibrary.IService1"
                name="IService1" />
    </client>
  </system.serviceModel>
</configuration>